[submodule "backend"]
	path = backend
	url = https://github.com/vuolen/kirjasto-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/vuolen/kirjasto-frontend
[submodule "shared"]
	path = shared
	url = https://github.com/vuolen/kirjasto-shared.git
